
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
   
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #92a8a6;
}


.nav-bar
{
    position: absolute;
    top: 4%;
    left: 2%;
    width: 97%;
    height: 40px;
    background:#92a8a6;
    border:0px  #92a8a0;
    border-radius: 20px;
    box-shadow:-18px 18px 36px #697c6d,18px -18px 36px #9bb69f;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}





.nav-bar h3
{
    position:relative;
    font-size: 25px;
    height: 22px;
    left: 10px;
    color: #1f373b;
    
   
}
.downbar
{
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    background:#172a2e;
    border:0px  #829986;
    border-radius: 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.container
{
    height: 250px;
    width:80%;
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-around;
    
}
 .container .btn1
{
    
    
    background:linear-gradient(145deg, #b4ded2, #5d857d);
    border-left:2px solid #34755d;
    border-top: 2px solid #34755d;
    border-right:2px solid #34755d;
    border-bottom:2px solid #34755d;
    font-size:18px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 100px;
    color:#166e61;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    box-shadow:  5px 5px 10px #4f716a, 2px 2px 40px #6b9990;

}
.container .btn1:hover
{
    font-size:28px;
    letter-spacing: 5px;
    color: #0e312c;
    transition: 0.5s;
    height:300px;
    width:300px;
    border-radius: 150px;
    border-left:12px solid #34755d;
    border-top: 12px solid #34755d;
    border-right:12px solid #34755d;
    border-bottom:12px solid #34755d;
    box-shadow:  5px 5px 10px #4f716a, 2px 2px 40px #6b9990;

}


ion-icon{
    
    color:#18916f;
    font-size: 50px;
     /* padding-top: 50px; */
    padding-right: -10px; 
}






.container .btn2
{
    background:linear-gradient(145deg, #A6E2DC, #728c89);
    border-top: 2px solid #028476;
    border-left:2px solid #028476;
    border-right:2px solid #028476;
    border-bottom:2px solid #028476;
    font-size:18px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 100px;
    color: #277d75;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    box-shadow:  5px 5px 10px #316f63, 2px 2px 40px #6b9990;

}
.container .btn2:hover
{
    font-size: 28px;
    letter-spacing: 5px;
    color: #06443e;
    transition: 0.5s;
    height:300px;
    width:300px;
    border-radius: 150px;
    border-top: 12px solid #028476;
    border-left:12px solid #028476;
    border-right:12px solid #028476;
    border-bottom:12px solid #028476;
    box-shadow:  5px 5px 10px #3e7066, 2px 2px 40px #6b9990;

}


ion-icon{
    
    color:#09544b;
    font-size: 60px;
    
    padding-right: 7px; 
}
.container .btn2 a{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:#c0bda5;

}


.container .btn3
{
    background:linear-gradient(145deg, #98D7C2, #728f85);
    border-top: 2px solid #346c72;
    border-left:2px solid #346c72;
    border-right:2px solid #346c72;
    border-bottom:2px solid #346c72;
    font-size:18px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 100px;
    color: #216971;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    box-shadow:  5px 5px 10px #276155, 2px 2px 40px #6b9990;

}
.container .btn3:hover
{
    font-size: 28px;
    letter-spacing: 5px;
    color: #042e32;
    transition: 0.5s;
    height:300px;
    width:300px;
    border-radius: 150px;
    border-top: 12px solid #346c72;
    border-left:12px solid #346c72;
    border-right:12px solid #346c72;
    border-bottom:12px solid #346c72;
    box-shadow:  5px 5px 10px #2e5d54, 2px 2px 40px #6b9990;

}


ion-icon{
    
    color:#023020;
    font-size: 50px;
    
    padding-right: -10px; 
}
.container .btn3 a{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:#c0bda5;

}


.container .btn4
{
    background:linear-gradient(145deg, #90CDD0, #6a8788);
    border-top: 2px solid #1d545d;
    border-left:2px solid #1d545d;
    border-right:2px solid #1d545d;
    border-bottom:2px solid #1d545d;
    font-size:18px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 100px;
    color:#032318;
    z-index: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 200px;
    height: 200px;
    box-shadow:  5px 5px 10px #0a4f41, 2px 2px 40px #6b9990;

} 
.container .btn4:hover
{
    font-size: 28px;
    letter-spacing: 8px;
    color: #04243e;
    transition: 0.5s;
    height:300px;
    width:300px;
    border-radius: 150px;
    border-top: 12px solid #1d545d;
    border-left:12px solid #1d545d;
    border-right:12px solid #1d545d;
    border-bottom:12px solid #1d545d;
    box-shadow:  5px 5px 10px #094338, 2px 2px 40px #6b9990;

}

ion-icon{
    
    color:#023020;
    font-size: 50px;
     /* padding-top: 50px; */
    padding-right: -12px; 
}
.container .btn4 a
{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:#c0bda5;
}



