.body
{
    background-color: #073f2c;
}
.table{
    background-color: #829986;
    text-align: center;
    width: 100%;
    height: 700px;
    left:40px;
}
.edit{
    background-color: #032318;
    margin-left: 150px;
    width: 420px;
    height: 500px;
    top: 0;
    margin-bottom: 10px;
}
.edit2{
    background-color: rgb(0, 0, 0);
    margin-top: 14px;
    margin: 35px;
    height: 340px;
    width: 350px;
    margin-bottom: 60px;
}
.edit3{
    height: 5px;
}
.edit4{
    background: linear-gradient(145deg,#758a79,#8ba48f);
    box-shadow: 
    20px 20px 40px #657769,
    -20px -20px 40px #9cada0;
    height: 520px;
    width: 420px;
    border-radius: 20px;
    margin-right: 0px;
}
.edit5{
    font-family: Century Gothic;
    background-color: #597058;
    border-radius: 50px;
    text-align: center;
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: rgb(87, 201, 170);
    box-shadow: 
    23px 23px 35px #485b47,
    -23px -23px 40px #6a8569;
}
.Att-form
{
    font-family: Century Gothic;
    background-color: #c5dfc4;
    border-radius: 80px;
    text-align: center;
    padding: 20px;
    margin-left: 90px;
    margin-right: 90px;
    font-size: 15px;
    color: rgb(87, 201, 170);
    box-shadow: 
    2px 2px 3px #3f4e3f,
    -2px -2px 3px #6a8569;
}

.home
{

    position: relative;
    top: 0px;
    right: 0px;
    margin-bottom:70px;
    cursor: pointer;
}

ion-icon
{
    font-size: 30px;
    color: #032318;
}

.edit7{
    font-family: FontAwesome, Century Gothic;
    color: rgb(10, 72, 52);
    font-size: 36px;
    text-align: left;
    padding-left: 45px;
    float: left;
}
.edit8{
    background: #c5c9ab;
    height: 40px;
    width: 250px;
    float: right;
    font-size: 18px;
    font-weight: lighter;
    border-radius: 20px;
    margin-left: 10px;
    padding-left: 10px;
    padding-top: 7px;
    box-shadow: 
    2px 2px 2px #a7ab91,
    -2px -2px 2px #e3e7c5;
}
.edit9{
    background-color: rgb(204, 226, 212);
    border: 1px solid rgb(204, 226, 212);
    font-family: Century Gothic;
    font-size: 15px;
    width: 170px;
    margin-left: 5px;
    border-radius: 20px;
    height: 36px;
    
}

.edit10{
    background-color: rgb(204, 226, 212);
    border: 1px solid rgb(204, 226, 212);
    font-family: Century Gothic;
    font-size: 15px;
    width: 170px;
    margin-left: 5px;
    border-radius: 20px;
    height: 36px;
}
.edit12{
    float: left;
    padding-left: 50px;
}
.edit13{
    float: right;
    margin-right: 60px;
}
.video{
    width: 550px;
    padding-top: 10px;
}