*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url(col.jpg) center / cover;
} 

main.table{
    width: 82vw;
    height: 90vh;
    background-color: rgba(226, 240, 193, 0.185);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}
.table_head{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: 0.8rem 1rem;
    color:rgb(5, 5, 5);
}

.table-body{
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: 0.8rem auto;
    border-radius: 0.6rem;
    overflow: auto;
}
.table-body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}
.table-body::-webkit-scrollbar-thumb{
    border-radius: .8rem;
    background-color: #0004;
}
table{
    width: 100%;
}

table,th,td{
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #a7c5e7;
    z-index: 999;
}

tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover{
    background-color: #fff6;

}
.status{
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;

}
.status.sem6{
    background-color: #86e49d;
    color: #006b21;

}
.status.sem5{
    background-color: #8b71d1;
    color: #10006b;
    
}
.status.sem4{
    background-color: #e4cb86;
    color: #6b3000;
    
}
.status.sem3{
    background-color: #86d6e4;
    color: #00446b;
    
}
.status.sem2{
    background-color: #e486c5;
    color: #6b0059;
    
}
.status.sem1{
    background-color: #a0adc5;
    color: #20006b;
    
}

@media (max-width:1000px){
    td:not(:first-of-type){
        min-width: 12.1rem;
    }
}
.home{
    position:absolute;
    top:0.5%;
    right:34%;
    margin-top:16px;
    border-radius: 20px;
    width: auto;
    height: 40px;
}
.home_button a{
    font-size: 30px;
    background-color: transparent;
    border: none;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;   
} 

.update {
    position:absolute;
    top:0%;
    right:25%;
    margin-top:16px;
    font-size: 30px;
    background:rgb(214, 228, 236);
    border-radius: 20px;
    width: auto;
    height: 40px;
}
.update_butn a{
    font-size: 15px;
    background-color: transparent;
    border: none;
    color:rgb(70, 27, 223);
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}
.search-box input
{
    position:absolute;
    top: 2.5%;
    right: 2%;
    width: 22%;
    height: 6%;
    background:#fff6;
    border:1px solid #100d16;
    border-radius: 20px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.search-box  .icon-search
{
    position:absolute;
    top: 0.5%;
    right:0%;
    margin-top:20px;
    margin-right:30px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    color:blue;
    border: none;
    background-color: transparent;
}
.text {
    font-size: 16px;
    padding-left: 1%;
    padding-right: 6%;
}
.info {
    font-size: 40px;
    color: #6b0059;
    margin-left: 10px;
}

.delete-btn-icon {
    font-size: 30px;
    color: red;
    margin-left: 10px;
    background: transparent;
    cursor: pointer;
}
.swal-overlay {
    background-color: #43288683;
}

.swal-modal {
    border: 3px solid rgb(237, 9, 9);
    overflow: hidden;
}

.swal-text {
    margin: 22px;
    text-align: center;
    color: #ec0c71;
    padding: 17px;
    display: block;
}