*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background:linear-gradient(125deg,#422886,#532975);
    overflow: hidden;
}


.photo
{
    position: relative;
    width: 420px;
    height:450px;
    background:linear-gradient(140deg,rgba(9, 43, 152, 0.25),rgb(7, 124, 156));
    box-shadow: 8px 0px 30px rgb(41, 42, 49), -15px -15px 60px rgb(52, 5, 123) ;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    /* border:1px solid rgba(255,255,255,0.18); */
    cursor:pointer;
    transition: 0.5s;
    
}
.photo:hover
{
    height:500px;
    
}
.image
{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height:150px;
    border-radius: 20px;
    border-color:10px #040541;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow:hidden;
    transition: 0.5s;
}
.photo:hover .image
{
    height:250px;
    width:250px;
}
.image img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size: 100% 100%;
}
.photo .content
{
    position: absolute;
    width: 100%;
    height:100%;
    display: flex; 
    justify-content: center;
    align-items: flex-end;

}
.photo .content .details
{
    
    padding: 10px;
    text-align:justify;
    height: 55%;
    width:100%;
    transition: 0.5s;
    object-fit: hide;
}

.photo .content .details .edit7
{
    display:inline;
    padding-top: 20px;
    margin: 20px 0;

}
.photo .content .details .edit7 .edit8
{
    position: absolute;
    top:45%;
    right:60px;
    font-size: 20px;
    background: #dce2c8;
    height: 40px;
    width: 300px;
    font-weight: lighter;
    line-height: 28px;
    border-radius: 20px;
    padding-left: 20px; 
    padding-top: 7px;  
    box-shadow: 
    2px 2px 2px #626371,
    -2px -2px 2px #452f4f;
    color: black;
    
   
}


.photo .content .details .edit7 .edit9
{
    position: absolute;
    top:60%;
    right:60px;
    font-size: 20px;
    background: #dce2c8;
    height: 40px;
    width: 300px;
    font-weight: lighter;
    line-height: 28px;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 7px; 
    box-shadow: 
    2px 2px 2px #626371,
    -2px -2px 2px #452f4f;
   
   
}

.photo .content .details .edit7 .edit10
{
    position: absolute;
    top:75%;
    right:60px;
    font-size: 20px;
    background: #dce2c8;
    height: 40px;
    width: 300px;
    font-weight: lighter;
    border-radius: 20px;
    line-height: 28px;
    padding-left: 20px;
    padding-top: 7px; 
    box-shadow: 
    2px 2px 2px #626371,
    -2px -2px 2px #452f4f;
   
   
}
.login {
    position:absolute;
    top:0%;
    right:23%;
    margin-top:16px;
    font-size: 30px;
    background:linear-gradient(140deg,rgba(9, 43, 152, 0.25),rgb(7, 124, 156));
    border-radius: 50%;
    width: auto;
    height: 40px;
}
.login_butn a{
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: rgb(224, 225, 239);
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
}

 .search-box input
{
    position:absolute;
    top: 2%;
    right: 2%;
    width: 300px;
    height: 6%;
    background:#dce2c8;
    border:1px solid #422886;
    border-radius: 20px;
    
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.search-box  .icon-search
{
    position:absolute;
    top:0%;
    right:0%;
    margin-top:19px;
    margin-right:40px;
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    color:blue;
    border: none;
    background-color: transparent;
}
.text {
    font-size: 20px;
    padding-left: 30px;
}

.photo .content .details .home
{
    position: absolute;
    bottom:2%;
    right: 45%;
    font-size: 30px;
}
ion-icon{
    color: #040541;
}

