
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body
{
   
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:  #5e60ce;
}

 .nav-bar
{
    position:absolute;
    top:3%;
    left:28%;
    letter-spacing: 2px;

    font-size: 50px;
    color: #041c3a;
    text-align: center;
    /* -webkit-text-stroke: 1px black;
    background:url(images.png);
    background-clip: text; */
    /* background-position: 0 0; */
    /* animation: back 5s linear infinite; */
} 

@keyframes back{
    100%
    {
        background-position: 200px 0;
    }
}

.container
{
    height: 250px;
    width:95%;
    display: flex; 
    flex-wrap: wrap;
    justify-content:space-around;
    
}
 .container .btn1
{
    background:linear-gradient(160deg,#322886,#632975);
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-left:0px solid #ede7e3;
    border-top: 0px solid #ede7e3;
    border-right:0px solid #ede7e3;
    border-bottom:0px solid #ede7e3;
    font-size:19px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 80px;
    color:#5390d9;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 220px;
    height: 220px;


}
.container .btn1:hover
{
    font-size:28px;
    letter-spacing: 5px;
    color: #64dfdf;
    transition: 0.5s;
    height:270px;
    width:270px;
    border-radius: 100px;
    border-left:6px solid #ffffff;
    border-top: 6px solid #ffffff;
    border-right:6px solid #ffffff;
    border-bottom:6px solid #ffffff;
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;
}


ion-icon{
    
    color:#4e50d2;
    font-size: 50px;
     /* padding-top: 50px; */
    padding-right: -10px; 
}






.container .btn2
{
    background:linear-gradient(160deg,#322886,#632975);
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-left:0px solid #ede7e3;
    border-top: 0px solid #ede7e3;
    border-right:0px solid #ede7e3;
    border-bottom:0px solid #ede7e3;
    font-size:19px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 80px;
    color:#5e90d9;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 220px;
    height: 220px;


}
.container .btn2:hover
{
    font-size:28px;
    letter-spacing: 5px;
    color: #64dfdf;
    transition: 0.5s;
    height:270px;
    width:270px;
    border-radius: 100px;
    border-left:6px solid #ffffff;
    border-top: 6px solid #ffffff;
    border-right:6px solid #ffffff;
    border-bottom:6px solid #ffffff;
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;

}


ion-icon{
    
    color:hsl(120, 4%, 27%);
    font-size: 60px;
    
    padding-right: 7px; 
}
.container .btn2 a{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:hsl(0, 2%, 11%);

}


.container .btn3
{
    background:linear-gradient(160deg,#322886,#632975);
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-left:0px solid #ede7e3;
    border-top: 0px solid #ede7e3;
    border-right:0px solid #ede7e3;
    border-bottom:0px solid #ede7e3;
    font-size:19px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 80px;
    color:#5e90d9;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 220px;
    height: 220px;



}
.container .btn3:hover
{
    font-size:28px;
    letter-spacing: 5px;
    color: #64dfdf;
    transition: 0.5s;
    height:270px;
    width:270px;
    border-radius: 100px;
    border-left:6px solid #ffffff;
    border-top: 6px solid #ffffff;
    border-right:6px solid #ffffff;
    border-bottom:6px solid #ffffff;
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;


}


ion-icon{
    
    color:hsl(120, 4%, 27%);
    font-size: 50px;
    
    padding-right: -10px; 
}
.container .btn3 a{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:hsl(120, 4%, 27%);

}


.container .btn4
{
    background:linear-gradient(160deg,#322886,#632975);
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-left:0px solid #ede7e3;
    border-top: 0px solid #ede7e3;
    border-right:0px solid #ede7e3;
    border-bottom:0px solid #ede7e3;
    font-size:19px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: hand;
    border-radius: 80px;
    color:#5e90d9;
    z-index: 1;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    cursor:grabbing;
    transform: translateX(0%);
    width: 220px;
    height: 220px;



} 
.container .btn4:hover
{
    font-size:28px;
    letter-spacing: 5px;
    color: #64dfdf;
    transition: 0.5s;
    height:270px;
    width:270px;
    border-radius: 100px;
    border-left:6px solid #ffffff;
    border-top: 6px solid #ffffff;
    border-right:6px solid #ffffff;
    border-bottom:6px solid #ffffff;
    box-shadow: 25px 30px 80px #48bfe3, -5px -5px 60px #041c3a ;

}

ion-icon{
    
    color:#4e50d2;
    font-size: 50px;
     /* padding-top: 50px; */
    padding-right: -12px; 
}
.container .btn4 a
{
    text-decoration: none;
    font-size: large;
    padding-top: -20px;
    font-weight: 600;
    color:hwb(257 4% 47%);
}




