.body
{
    display:flex;
    height:100%;
    width:100%;
    background-color:#709c95;
} 
.table{
    background-color:#709c95 ;
    text-align: center;
    width: 100%;
    height: 100%;
    left:40px; 
   
    
}
.edit
{
    position: absolute;
    background-color:#485b47;
    margin-left: 150px;
    width: 570px;
    height:520px;
    top:10%;
    margin-bottom: 10px;
}
.edit2
{
    background-color:rgb(0, 0, 0) ;
    margin-top: 14px;
    margin: 35px;
    height: 340px;
    width: 350px;
    margin-bottom: 60px;
}
.edit3 {
    height: 3px;
}

.mainContainer2
{
    position:absolute;
    top: 10%;
    left:60%;
    background:#719284;
    box-shadow: 
    -5px -5px 29px #466966, 5px 5px 29px #75aea9;
    backdrop-filter:blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 520px;
    width: 420px;
    border-radius: 20px;
    margin-right: 0px;
   
}
 .mainContainer2 .from-box 
 {
     width: 100%;  
     padding: 40px; 
 } 
.mainContainer2 .home
{
    position: absolute;
    bottom: 2%;
    right:47%;
}




.from-box  .lm{
    position:absolute;
    top:12%;
    left:15%;
    font-family: Century Gothic;
    background:#597058;
    border-radius: 50px;
    height: 80px;
    width: 300px;
    font-size: 20px;
    color: rgb(87, 201, 170);
    box-shadow: 
    23px 23px 45px #485b47,
    -23px -23px 25px #6a8569;
}
 .input-box
 {
    position: absolute;
    width: 80%;
    height: 40%;
    border-bottom: 4px solid #495b4c;
} 

.input-box1 .line
{
    position: absolute;
    top:63%;
    right:10%;

    background: #485b47;
    height:4px;
    width:80%;
}
 .input-box label
{
    position: absolute;
    top: 90%;
    right:5px;
    transform: translateY(-50%);
    font-size: 18px;
    color:rgb(10, 72, 52);
    font-weight: 500;
    pointer-events:none;
    transition: 5s;
}

.input-box1 label
{
    position: absolute;
    top: 60%;
    right:12%;
    transform: translateY(-50%);
    font-size: 18px;
    color:rgb(10, 72, 52);
    font-weight: 500;
    pointer-events:none;
    transition: 5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: 50px;

}
.input-box1 input:focus~label,
.input-box1 input:valid~label
{
    top: 55px;

}


 ion-icon
{
    font-size: 30px;
    color: #073f2c;
}
.input-box input
{
    position: absolute;
    top: 87%;
    left:30%;
    
    background: transparent;
    border:none;
    outline: none;
    text-align: left;
    text-decoration:solid;
    font-size: 16px;
}
.input-box1 input
{
    position: absolute;
    top: 57%;
    left:35%;
    
    background: transparent;
    border:none;
    outline: none;
    text-align:left;
    text-decoration:solid;
    font-size: 16px;
}

.from-box button
{
    position: absolute;
    top:75%;
    width: 30%;
    height: 6%;
    left: 140px;
    background: #495b46;
    border: #495b46;
    border-radius: 6px;
    cursor:pointer;

}
.input-box .pr-ion
{
    position:absolute;
    top:80%;
} 
.input-box1 .id-ion
{
    position:absolute;
    top:55%;
}
.video {
    width: 500px;
    height: 400px;
}