.body
{
    display:flex;
    height:100%;
    width:100%;
    background:linear-gradient(125deg,#422886,#532975);
} 
.table{
    background:linear-gradient(125deg,#422886,#532975);
    text-align: center;
    width: 100%;
    height: 100%;
    left:40px; 
   
    
}
.edit
{
    position: absolute;
    background-color:#231970;
    margin-left: 150px;
    width: 570px;
    height:520px;
    top:10%;
    margin-bottom: 10px;
}
.edit2
{
    background-color:rgb(0, 0, 0) ;
    margin-top: 14px;
    margin: 35px;
    height: 340px;
    width: 350px;
    margin-bottom: 60px;
}
.edit3 {
    height: 3px;
}

.mainContainer2
{
    position:absolute;
    top: 10%;
    background:linear-gradient(140deg,rgba(4, 46, 184, 0.25),rgb(7, 124, 156));
    box-shadow: 8px 0px 30px rgb(41, 42, 49), -15px -15px 60px rgb(52, 5, 123) ;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    left:65%;
    height: 520px;
    width: 420px;
    border-radius: 20px;
    margin-right: 0px;
   
}
 .mainContainer2 .from-box 
 {
     width: 100%;  
     padding: 40px; 
 } 
.mainContainer2 .home
{
    position: absolute;
    bottom: 2%;
    right:30%;
}

.mainContainer2 .details {
    position: absolute;
    bottom: 2%;
    right:65%;
}


.from-box  .lm{
    position:absolute;
    top:12%;
    left:15%;
    font-family: Century Gothic;
    background:#5e60ce;
    border-radius: 50px;
    height: 80px;
    width: 300px;
    font-size: 20px;
    color: rgb(87, 201, 170);
    
}
.input-box .line {
    position: absolute;
    top: 56%;
    right:10%;

    background: #040541;
    height:4px;
    width:80%;
}
.input-box1 .line
{
    position: absolute;
    top:69%;
    right:10%;

    background: #040541;
    height:4px;
    width:80%;
}
.input-box2 .line
{
    position: absolute;
    top: 41.5%;
    right:10%;

    background: #040541;
    height:4px;
    width:80%;
}
 .input-box label
{
    position: absolute;
    top : 51%;
    right:12%;
    transform: translateY(-50%);
    font-size: 18px;
    color:#48bfe3;
    font-weight: 500;
    pointer-events:none;
    transition: 5s;
}

.input-box1 label
{
    position: absolute;
    top: 38%;
    right:12%;
    transform: translateY(-50%);
    font-size: 18px;
    color:#48bfe3;
    font-weight: 500;
    pointer-events:none;
    transition: 5s;
}
.input-box2 label
{
    position: absolute;
    top: 65%;
    right:12%;
    transform: translateY(-50%);
    font-size: 18px;
    color:#48bfe3;
    font-weight: 500;
    pointer-events:none;
    transition: 5s;
}

.input-box input:focus~label,
.input-box input:valid~label
{
    top: 50px;

}
.input-box1 input:focus~label,
.input-box1 input:valid~label
{
    top: 55px;

}
.input-box2 input:focus~label,
.input-box2 input:valid~label
{
    top: 60px;

}


 ion-icon
{
    font-size: 30px;
    color: #040539;
}
.input-box input
{
    position: absolute;
    top: 50%;
    left:33%;
    
    background: transparent;
    border:none;
    outline: none;
    text-align: left;
    text-decoration:solid;
    font-size: 16px;
}
.input-box1 input
{
    position: absolute;
    top: 36%;
    left:35%;
    background: transparent;
    border:none;
    outline: none;
    text-align:left;
    text-decoration:solid;
    font-size: 16px;
}
.input-box2 input
{
    position: absolute;
    top: 62%;
    left:32%;
    background: transparent;
    border:none;
    outline: none;
    text-align:left;
    text-decoration:solid;
    font-size: 16px;
}

.from-box button
{
    position: absolute;
    top:77%;
    width: 30%;
    height: 6%;
    left: 140px;
    background: #56cfe1;
    border: #56cfe1;
    border-radius: 6px;
    cursor:pointer;

}
.input-box .pr-ion
{
    position:absolute; 
    top:48%;
} 
.input-box1 .id-ion
{
    position:absolute;
    top:61%;
}
.input-box2 .id-ion
{
    position:absolute;
    top:35%;
}
.video {
    width: 500px;
    height: 400px;
}