*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('facerecognization.png'); 
    background-position: center;
    background-size: cover;
    padding-left: 2%;
    box-sizing: border-box;
}

.home
{
    position:absolute;
    top:2%;
    right:2%;
}
ion-icon{
    font-size: 30px;
    color:#152179;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.row{
    display: flex;
    
    height: 88%;
    align-items: center;
    
}
.col{
    flex-basis: 50%;
}
h1{
    color: white;
    font-size: 80px;
}
p{
    color: white;
    font-size: 15px;
    line-height: 15px;
    
}
button{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan;
    width: 100px;
    color: black;
    font-size: 12px;
    padding: 12px 0;
    background: cyan;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
button:hover {
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}





    
 
 .card{
     width: 170px;
     height: 240px;
     padding: 2rem 0.85rem;
     box-sizing: border-box;
     cursor: pointer;
     margin: 15px 20px;
     position: relative;
     display: inline-block;
     margin-left: 60px;
     left: 15%;
     border-bottom: 0px 7px 10px rgba(0,0, 0, 0.5);
     transition: 0.5s ease-in-out;
     border-radius: 20px;
     overflow: hidden;
 }
 .card:hover{
     transform: translateY(20px);
 }
 .card::before{
     content: "";
     position: absolute;
     top: 0;
     left: 0;
     display: block;
     width: 100%;
     height: 100%;
     background: linear-gradient(to bottom,rgba(218, 81, 165, 0.5),rgba(236, 247, 85,1));
     z-index: 1;
     transition: 0.5s all;
     opacity: 0;
 }
 .card:hover:before{
     opacity: 1;
 }
 
 .card img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     position: absolute;
     top: 0;
     left: 0;
 }
 .card .details{
     position: relative;
     z-index: 1;
     color: #fff;
     height: 70px;
     transform: translateY(30px);
     transition: 0.5s all;
 }
 .card:hover .details{
     opacity: 1;
     transform: translateY(-40px);
 }
 .card .details h1{
     margin-top: 100px;
     font-size: 30px;
 }
 .card .details h2{
    margin-top: 110px;
    font-size: 25px;
}
 .card .details p{
     letter-spacing: 1px;
     font-size: 17px;
     margin-top: 8px;
     opacity: 0;
 }
 .card:hover p{
     opacity: 1;
     visibility: visible;
 }
 
 .card:nth-child(2)::before{
     background: linear-gradient(to bottom,rgba(180, 87, 235, 0.5),rgba(123, 217, 230)); 
 }
 .card:nth-child(3)::before{
     background: linear-gradient(to bottom,rgba(0,176,155,0.5),rgba(150,201,61,1));
 }
 .card:nth-child(4)::before{
     background: linear-gradient(to bottom,rgba(0, 228, 142,0.5),rgba(238, 85, 238,1));
 }
 
 