<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" href="admin_table.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <span class="home_button">
        <a href="{{ url_for('home') }}"><ion-icon name="home"></ion-icon></a>
      </span>
    <main class="table">
        <section class="table_head">
            <h2>Student Details</h2>
            <div class="update">
                <span class="update_butn"><a href = "{{ url_for('update') }}">Update</a></span>
            </div>
            </div>
            <div class ="search-box"><form method="post">
            <input type="text" class = 'text' placeholder="search by Semester" name = 'sem' required>
            <button class="icon-search"><ion-icon name="search-outline"></ion-icon></button>
            </form></div>
        </section>
        <section class="table-body">
            <table>
                <thead>
                    <tr>
                        <th >ID</th>
                        <th >Name</th>
                        <th >Total Attendance</th>
                        <th >Semester</th>
                    </tr>
                </thead>
                <tbody>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem4">Sem 4</p></td>
                   </tr> 
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem6">Sem 6</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem5">Sem 5</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem3">Sem 3</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem2">Sem 2</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem1">Sem 1</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem4">Sem 4</p></td>
                   </tr> 
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem6">Sem 6</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem5">Sem 5</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem4">Sem 4</p></td>
                   </tr> 
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem6">Sem 6</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem5">Sem 5</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem4">Sem 4</p></td>
                   </tr> 
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem6">Sem 6</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem5">Sem 5</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem4">Sem 4</p></td>
                   </tr> 
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem6">Sem 6</p></td>
                   </tr>
                   <tr>
                    <td >79</td>
                    <td >Debasmita</td>
                    <td >10</td>
                    <td ><p class="status sem5">Sem 5</p></td>
                   </tr>
                  
                </tbody>
            </table>
        </section>

    </main>

</body>
</html>