<html>
<head>
    <title>Call Python function from HTML</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function call_python_function() {
            $.ajax({
                type: 'GET',
                url: '/call_function',
                success: function(data) {
                    $("#result").html(data);
                },
                complete: function() {
                    // Schedule the next request when the current one's complete
                    setTimeout(call_python_function, 1000);
                }
            });
        }
        $(document).ready(function() {
            call_python_function();
        });
    </script>
</head>
<body>
    <h1>Python function result:</h1>
    <div id="result"></div>
</body>
</html>
