<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update database</title>
    <link rel = "icon" href = "{{ url_for('static', filename = 'logo.jpeg') }}" type = "image/jpg">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'update.css') }}">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="body">
    <table class="table" align="center">
        <tr>
            <td>
                <div class="edit">
                    <h6 class="edit3"></h6>
                    <div class="edit2">
                        <img class='video' src="{{ url_for('video_feed') }}">
                    </div>
                </div>
            </td>
            <td>


                <div class="mainContainer2">
                    <span class="home">
                        <a href="{{ url_for('home') }}"> <ion-icon name="home"></ion-icon></a>
                    </span>

                    <span class="details">
                        <a href="{{ url_for('details') }}"> <ion-icon name="reader"></ion-icon></a>
                    </span>

                    <div class="from-box">
                        {% if added %}
                        <span class="lm">
                            <h4>Added to database</h4>
                        </span>
                        {% endif %}
                        {% if updated %}
                        <span class="lm">
                            <h4>Updated Successfully</h4>
                        </span>
                        {% endif %}
                        <br>
                        <form action="/update" method="post">
                            <!-- name -->
                            <div class="input-box">
                                <div class="line">

                                </div>


                                <label for="name">Name</label>
                                <div class="pr-ion"><ion-icon name="person"></ion-icon>
                                </div>

                                <input type="text" placeholder="enter-name" name="name" required autocomplete="off">


                            </div>

                            <br><br><br>
                            <!--Id-->
                            <div class="input-box1">
                                <div class="line">

                                </div>


                                <label for="Id">Id</label>
                                <div class="id-ion"><ion-icon name="albums"></ion-icon>
                                </div>

                                <input type="text" placeholder="enter-id" name="id" required autocomplete="off">


                            </div>

                            <br><br><br>
                            <!--sem-->
                            <div class="input-box2">
                                <div class="line">

                                </div>


                                <label for="sem">Sem</label>
                                <div class="id-ion"><ion-icon name="school-sharp"></ion-icon>
                                </div>

                                <!-- <input type="text" placeholder="enter-semester" name="sem" required autocomplete="off"> -->
                                <select name="sem" >
                                    <option value="1">I</option>
                                    <option value="2">II</option>
                                    <option value="3">III</option>
                                    <option value="4">IV</option>
                                    <option value="5">V</option>
                                    <option value="6">VI</option>
                                  </select>

                            </div>



                            <button type="submit">Submit</button>
                        </form>
                    </div>

                </div>
        </tr>

    </table>
</body>

</html>